<div class="default-style">
    <dx-data-grid
        [dataSource]="orders"
        [allowColumnResizing]="true"
        [allowColumnReordering]="true"
        [showBorders]="true"
        keyExpr="ID">
        <dxi-column
            dataField="OrderNumber"
            [width]="130"
            caption="Invoice Number">
        </dxi-column>
        <dxi-column
            dataField="OrderDate"
            sortOrder="desc"
            dataType="date">
        </dxi-column>
        <dxi-column
            dataField="SaleAmount"
            alignment="right"
            format="currency">
        </dxi-column>
        <dxi-column dataField="Employee"></dxi-column>
        <dxi-column dataField="CustomerStoreCity" caption="City"></dxi-column>
        <dxi-column
            dataField="CustomerStoreState"
            caption="State"
            [groupIndex]="0">
        </dxi-column>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[5, 10, 20]">
        </dxo-pager>
        <dxo-state-storing
            [enabled]="true"
            type="custom"
            [storageKey]="storageKey"
            [customLoad]="loadState"
            [customSave]="saveState">
        </dxo-state-storing>
    </dx-data-grid>
</div>